/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-ibl-block {
	border: 1px solid #21759b;
}
.ibl-block{
	display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: 20px 70px;
}
.indentInput{
	margin-left: 30px;
}
.indentlabel{
	margin-left: 20px;
}