/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-ibl-block {
	color: rgb(0, 0, 0);
	padding: 2px;
}
.ibl-block{
	display: grid;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: 20px 25%;
}

.ibl-block2{
    display: grid;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: 20px;
}
.RichText{
	margin-left: 30px;
}
.indentlabel{
	margin-left: 20px;
}